.App {
  text-align: center;
  gap: 20px;
  margin: 30px;
}
.reset {
  margin: 30px;
  padding: 30px;
  border: none;
  border-radius: 50%;
}
.main {
  margin: 30px;
  padding: 30px;
  border: 5px solid red;
  background-color: white;
  border-radius: 50%;
}