.App {
  text-align: center;
  gap: 20px;
  margin: 30px;
}
.reset {
  font-size: 1.5em;
  margin: 30px;
  padding: 35px;
  background-color: gold;
  border: none;
  border-radius: 40%;
}
.new {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
